<!doctype html>
<html>
<head>
	
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">	
	<script src="lib/angular.min.js"></script>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<script src="minifyJs/js/index.min.js"></script>

</head>
<body ng-app="MyModule" ng-controller="MyController" style="margin-left: 150px;margin-top: 50px">

	
	<label>Helllo this is testing of sublime functionality</label>
	<input type="text" name="" ng-model="letter">
	<ul>
		<li ng-repeat="friend in friends | nameStartWithA:letter">{{friend.name | makeUpperCase}}</li>
	</ul>
</body>
</html>

